SUPABASE_URL=https://xwqkqsmraxltfuftqrzi.supabase.co
SUPABASE_ANON_KEY=sb_publishable_WSi0bVCnJXTF8tZsSfRKKA_E6C-vM1a
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3cWtxc21yYXhsdGZ1ZnRxcnppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODc2Nzk5NCwiZXhwIjoyMTA0MzQzOTk0fQ.9rXUPjVdI2Bsg1g_NXr0B8ihMIVaxQKZgZHDiHgpEbg
API_BASE=
PORT=3001
